# Data Types in Python

In [2]:
x = 1
print(type(x))

<class 'int'>

In [3]:
x = 1.0
print(type(x))

<class 'float'>

In [4]:
x = '1'
print(type(x))

<class 'str'>

In [5]:
x = True
print(type(x))

<class 'bool'>

### Type casting (conversion between data types)

In [6]:
x = int(1.0)
print(type(x))

<class 'int'>

In [7]:
x = int(True)
print(type(x))

<class 'int'>

# Expressions and Variables

In [8]:
# using / we get float result
x = 5
print(x/2)

2.5

In [9]:
# using // we get integer output
x = 5
print(x//2)

2

In [10]:
# check the version of the python
import sys
print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]

# Strings

In [11]:
my_string = "Shambhu KC"
print(my_string[1])

h

In [12]:
# string slicing
print(my_string[0:2])

Sh

In [13]:
# to get every second variable, this is also called stride
print(my_string[::2])

SabuK

In [14]:
print(my_string[4::2])

buK

In [15]:
# to get length of a string
print(len(my_string))

10

In [16]:
# to replicate strings
print(3*my_string)

Shambhu KCShambhu KCShambhu KC

In [17]:
# \n is used to break line
print("my name \n my age \n and my address")

my name
 my age
 and my address

In [18]:
# to use backslash in the string use \\
print("my name is \\ Shambhu KC")

my name is \ Shambhu KC

In [19]:
# \t can be used to get a tabbing
print("Name \t Shambhu KC")

Name 	 Shambhu KC

### Strings method

In [21]:
#to convert into all upercase
x = 'hello world'
print(x.upper())

HELLO WORLD

In [22]:
# to replace certain word, here we replace world with class
y = x.replace('world', 'class')
print(y)

hello class

In [23]:
# to find the letter in the string, it returns the first index of the letter
print(x.find('wor'))

6

In [24]:
print(x[0:2])

he

# Tuples 
*tuples are written as comma-seperated elements within parenthesis*

In [27]:
tuple1 = ("book", 1, 2.5)

In [28]:
print(tuple1[1])

1

In [30]:
# tuples can be added
tuple2 = ("sams", "walmart")
print(tuple1+tuple2)

('book', 1, 2.5, 'sams', 'walmart')

In [31]:
# slicing of the tuples is similar to the string slicing
print(tuple1[0:2])

('book', 1)

In [62]:
# to find index of tuple elements; find the index of 2.5
print(tuple1.index(2.5))

2

#### Tuple nesting : tuple containing tuple as elements

In [32]:
tup1 = (0,1, tuple1, tuple2)
print(tup1)

(0, 1, ('book', 1, 2.5), ('sams', 'walmart'))

In [33]:
# let's we want m from sams: use multi-indexing
print(tup1[3][0][2])

m

# List

In [52]:
# by using extend we can add list to the existing list but not as a list 
lis1 = [1,4,5,8,9,10,12]
lis2 = ["sams", "walmart"]
print(lis1+lis2)

[1, 4, 5, 8, 9, 10, 12, 'sams', 'walmart']

In [56]:
print(lis1.append(lis2))

None

In [57]:
lis1.extend(lis2)
print(lis1)

[1, 4, 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [58]:
# to delete elements from the list, we want to delete 4
del lis1[1]
print(lis1)

[1, 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [59]:
# list are mutable
lis1[0] = "shambhu"
print(lis1)

['shambhu', 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [61]:
# a string can be group into a list, if there no any arguments (delimiter), it splits based on space
string = "Hello world , I am shambhu KC"
lis = string.split()
print(lis)

['Hello', 'world', ',', 'I', 'am', 'shambhu', 'KC']

In [73]:
# clone (clone by value) the list
lis2 = lis1[:]
print(lis2)

['pooja', 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [64]:
# after cloning if we change the elements of A, it will not change the element of B
lis1[0] = 'pooja'
print(lis1[0])
print(lis2[0])

pooja
shambhu

# Dictionaries

In [65]:
my_dic = {"pooja": "chhetri", "shambhu":"KC", "Hari":2000, "shyam":[3,4,"Kandel"], "kriti": ("preet", 10)}

In [67]:
# I want to print Kandel
print(my_dic["shyam"][2])

Kandel

In [68]:
# I want to add new element
my_dic["new"]= "walmart"
print(my_dic)

{'pooja': 'chhetri', 'shambhu': 'KC', 'Hari': 2000, 'shyam': [3, 4, 'Kandel'], 'kriti': ('preet', 10), 'new': 'walmart'}

In [69]:
# I want to print re from preet
print(my_dic["kriti"][0][1:3])

re

In [70]:
# I want get keys of my_dic
print(my_dic.keys())

dict_keys(['pooja', 'shambhu', 'Hari', 'shyam', 'kriti', 'new'])

# Sets
* sets are a type of collection
* unlike lists and tuples they are unordered
* sets only have unique elements

In [71]:
set1 = {'pop', 'rock', 'soul', 'hard rock', 'R&B', 'rock', 'disco'}
print(set1)

{'soul', 'R&B', 'disco', 'pop', 'hard rock', 'rock'}

In [82]:
#convert list to set
lis2 = [1,2,3,3,4,5,22]
set2 = set(lis2)
print(set2)

{1, 2, 3, 4, 5, 22}

In [83]:
#to add elements in set
set2.add(20)
print(set2)

{1, 2, 3, 4, 5, 20, 22}

In [84]:
# to delete elemetns from set
set2.remove(2)
print(set2)

{1, 3, 4, 5, 20, 22}

In [86]:
# to find intersection of two sets
set3 = {4,5,10,22}
set4 = set2 & set3
print(set4)

{4, 5, 22}

In [87]:
# to find union of two sets
print(set2.union(set3))

{1, 3, 4, 5, 10, 20, 22}

In [88]:
# to check if set is subset of other
print(set3.issubset(set2))

False

# Comparison Operations
* equal: ==
* not equal: !=
* greater than: >
* less than: <
* greater than or equal to: >=
* less than or equal to: <=

In [1]:
# it also possible to compare the strings
print('sham'=='pooja')

False

Write an statement to determine if an album came out before 1980 or in the years:1991 or 1993. If the condition is true print out the year the album came out.

In [3]:
year = 1992
if year < 1980 or year == (1991 or 1993):
    print(year)
else:
    print('no album came out that year')

no album came out that year

# Loops

In [5]:
# range function can be used to get ordered sequence of number, we will add the numbers into the list. Remember last index is excluded.
lis1 = []
for i in range(5):
    lis1.append(i)
print(lis1)

[0, 1, 2, 3, 4]

In [8]:
# it is also possible to define the interval with a specific gap
lis2 = []
for i in range(10,20,2):
    lis2.append(i)
print(lis2)

[10, 12, 14, 16, 18]

### to get index and item from the list use enumerate

In [12]:
lis = ['sams', 'walmart', 'target', 'home depot', 'kroger', 'publix']
for index, item in enumerate(lis):
    print(index, item)

0 sams
1 walmart
2 target
3 home depot
4 kroger
5 publix

*While loop is similar to for loop but instead of executing a statement a set number of times a while loop will only run if a condition is met.*

In [15]:
# while loop example
dates = [2009, 2010, 2009, 2011, 2009, 2014]
dates2 = []
i = 0
while dates[i]==2009:
    dates2.append(dates[i])
    i = i+ 1
print(dates2)

[2009]

In [27]:
x = 5
while (x!=2):
    print(x)
    x = x-1

5
4
3

### break and continue statements in loop

In [30]:
# this loop stops when x equals to 7
for x in range(5,10):
    if (x ==7):break
    print(x)

5
6

In [31]:
# to skip some index value, this skips the case when x is divisible by 2. % sign represents the remainder
for x in range(10):
    if (x%2 ==0):continue
    print(x)

1
3
5
7
9

# Functions

In [28]:
# the local variable can be made global
artist = 'Michael Jackson'
def myfun(artist):
    global artist2
    artist2 = "Whitney Houston"
    print(artist, 'is an artist')
print(artist)
print(myfun(artist2))

Michael Jackson

NameError: name 'artist2' is not defined

In [ ]:
def hello():
    print("hello")
hello()

In [33]:
x = 3
print(x%2)

1

# Objects and Class

In [8]:
class myclass:
    var1 = 20    # This is class variable shared by all instances
d = myclass()       # this is a instance of class and this object has been assigned to variable d
print(d.var1)   # Here var1 is attribute of d

20

In [7]:
class myclass:
    var1 = 20
    
    def __init__(self, a):
        self.a = a    # This is instance variable which is unique to each instance
d = myclass(5)
e = myclass(10)      
print(d.a)
print(e.a)

5
10

In [13]:
# Let's create a class circle
class circle:
    # let's create data attributes used to initialize object
    def __init__(self, radius, color):
        self.radius = radius
        self.color = color
        
    def add_radius(self,radius):  # this is a method to increase the radius
        self.radius = self.radius+radius
        return (self.radius)
redcircle = circle(3,'red')
greencircle = circle(5,'green')
print(redcircle.radius)
redcircle.radius = 10    # we can change the object's data attributes. In this case we change radius of redcircle.
print(redcircle.radius)

print(redcircle.add_radius(2))

3
10
12

### Let's create a full name and email address using first and last name

In [30]:
class logbook():
    domain = '@gmail.com'
    def __init__(self,first,last):
        self.first = first
        self.last = last
        
    def full_name(self):
        return self.first +" "+ self.last
    
    def email(self):
        self.first = self.first.lower()
        return self.first+self.domain
    
employee1 = logbook('Peter', 'Harris')
employee2 = logbook('Sam', 'Gallaghar')
employee3 = logbook('Nathan', 'Johnson')
lis = [employee1, employee2, employee3]
for i in lis:
    print(i.full_name(), i.email())

Peter Harris peter@gmail.com
Sam Gallaghar sam@gmail.com
Nathan Johnson nathan@gmail.com