# Data Types in Python

In [2]:
x = 1
print(type(x))

<class 'int'>

In [3]:
x = 1.0
print(type(x))

<class 'float'>

In [4]:
x = '1'
print(type(x))

<class 'str'>

In [5]:
x = True
print(type(x))

<class 'bool'>

### Type casting (conversion between data types)

In [6]:
x = int(1.0)
print(type(x))

<class 'int'>

In [7]:
x = int(True)
print(type(x))

<class 'int'>

# Expressions and Variables

In [8]:
# using / we get float result
x = 5
print(x/2)

2.5

In [9]:
# using // we get integer output
x = 5
print(x//2)

2

In [10]:
# check the version of the python
import sys
print(sys.version)

3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31)
[GCC 7.3.0]

# Strings

In [11]:
my_string = "Shambhu KC"
print(my_string[1])

h

In [12]:
# string slicing
print(my_string[0:2])

Sh

In [13]:
# to get every second variable, this is also called stride
print(my_string[::2])

SabuK

In [14]:
print(my_string[4::2])

buK

In [15]:
# to get length of a string
print(len(my_string))

10

In [16]:
# to replicate strings
print(3*my_string)

Shambhu KCShambhu KCShambhu KC

In [17]:
# \n is used to break line
print("my name \n my age \n and my address")

my name
 my age
 and my address

In [18]:
# to use backslash in the string use \\
print("my name is \\ Shambhu KC")

my name is \ Shambhu KC

In [19]:
# \t can be used to get a tabbing
print("Name \t Shambhu KC")

Name 	 Shambhu KC

### Strings method

In [21]:
#to convert into all upercase
x = 'hello world'
print(x.upper())

HELLO WORLD

In [22]:
# to replace certain word, here we replace world with class
y = x.replace('world', 'class')
print(y)

hello class

In [23]:
# to find the letter in the string, it returns the first index of the letter
print(x.find('wor'))

6

In [24]:
print(x[0:2])

he

# Tuples 
*tuples are written as comma-seperated elements within parenthesis*

In [27]:
tuple1 = ("book", 1, 2.5)

In [28]:
print(tuple1[1])

1

In [30]:
# tuples can be added
tuple2 = ("sams", "walmart")
print(tuple1+tuple2)

('book', 1, 2.5, 'sams', 'walmart')

In [31]:
# slicing of the tuples is similar to the string slicing
print(tuple1[0:2])

('book', 1)

In [62]:
# to find index of tuple elements; find the index of 2.5
print(tuple1.index(2.5))

2

#### Tuple nesting : tuple containing tuple as elements

In [32]:
tup1 = (0,1, tuple1, tuple2)
print(tup1)

(0, 1, ('book', 1, 2.5), ('sams', 'walmart'))

In [33]:
# let's we want m from sams: use multi-indexing
print(tup1[3][0][2])

m

# List

In [52]:
# by using extend we can add list to the existing list but not as a list 
lis1 = [1,4,5,8,9,10,12]
lis2 = ["sams", "walmart"]
print(lis1+lis2)

[1, 4, 5, 8, 9, 10, 12, 'sams', 'walmart']

In [56]:
print(lis1.append(lis2))

None

In [57]:
lis1.extend(lis2)
print(lis1)

[1, 4, 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [58]:
# to delete elements from the list, we want to delete 4
del lis1[1]
print(lis1)

[1, 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [59]:
# list are mutable
lis1[0] = "shambhu"
print(lis1)

['shambhu', 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [61]:
# a string can be group into a list, if there no any arguments (delimiter), it splits based on space
string = "Hello world , I am shambhu KC"
lis = string.split()
print(lis)

['Hello', 'world', ',', 'I', 'am', 'shambhu', 'KC']

In [73]:
# clone (clone by value) the list
lis2 = lis1[:]
print(lis2)

['pooja', 5, 8, 9, 10, 12, ['sams', 'walmart'], 'sams', 'walmart', ['sams', 'walmart'], ['sams', 'walmart'], 'sams', 'walmart']

In [64]:
# after cloning if we change the elements of A, it will not change the element of B
lis1[0] = 'pooja'
print(lis1[0])
print(lis2[0])

pooja
shambhu

# Dictionaries

In [65]:
my_dic = {"pooja": "chhetri", "shambhu":"KC", "Hari":2000, "shyam":[3,4,"Kandel"], "kriti": ("preet", 10)}

In [67]:
# I want to print Kandel
print(my_dic["shyam"][2])

Kandel

In [68]:
# I want to add new element
my_dic["new"]= "walmart"
print(my_dic)

{'pooja': 'chhetri', 'shambhu': 'KC', 'Hari': 2000, 'shyam': [3, 4, 'Kandel'], 'kriti': ('preet', 10), 'new': 'walmart'}

In [69]:
# I want to print re from preet
print(my_dic["kriti"][0][1:3])

re

In [70]:
# I want get keys of my_dic
print(my_dic.keys())

dict_keys(['pooja', 'shambhu', 'Hari', 'shyam', 'kriti', 'new'])

# Sets
* sets are a type of collection
* unlike lists and tuples they are unordered
* sets only have unique elements

In [71]:
set1 = {'pop', 'rock', 'soul', 'hard rock', 'R&B', 'rock', 'disco'}
print(set1)

{'soul', 'R&B', 'disco', 'pop', 'hard rock', 'rock'}

In [82]:
#convert list to set
lis2 = [1,2,3,3,4,5,22]
set2 = set(lis2)
print(set2)

{1, 2, 3, 4, 5, 22}

In [83]:
#to add elements in set
set2.add(20)
print(set2)

{1, 2, 3, 4, 5, 20, 22}

In [84]:
# to delete elemetns from set
set2.remove(2)
print(set2)

{1, 3, 4, 5, 20, 22}

In [86]:
# to find intersection of two sets
set3 = {4,5,10,22}
set4 = set2 & set3
print(set4)

{4, 5, 22}

In [87]:
# to find union of two sets
print(set2.union(set3))

{1, 3, 4, 5, 10, 20, 22}

In [88]:
# to check if set is subset of other
print(set3.issubset(set2))

False